* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f0;
  font-family: "Ribeye", serif;
  font-weight: 700;
  font-style: normal;
}

.content {
  flex: 1;
  display: flex;
}

.sidebar-container {
  width: 500px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sidebar {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: bisque;
  border: 2px solid #6b6b6b;
  border-radius: 4px;
}

button {
  width: 170px;
  padding: 7px 0;
  cursor: pointer;
  border: 2px solid #6b6b6b;
  border-radius: 4px;
  font-size: 15px;
  background-color: #ffffff;
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  transform: scale(1.05);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color"] {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}

input[type="color"]:hover {
  transform: scale(1.05);
}

.title {
  font-size: 42px;
}

.sketchpad-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 100px;
}

.sketch-pad {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px;
}

.grid-container {
  display: flex;
  flex: 1;
}

.grid {
  flex: 1;
}

.grid-border {
  border: 1px solid rgb(224, 224, 224);
}

.github-logo {
  width: 30px;
}

.github-logo:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}

.highlight {
  background-color: #6b6b6b;
  color: #ffffff;
}
